@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "Customer Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Customer != null)
{
    <h2>Edit Customer</h2>
}
else
{
    <h2>New Customer</h2>
}

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Fix the following errors.")

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.FirstName)
        @Html.TextBoxFor(m => m.Customer.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.LastName)
        @Html.TextBoxFor(m => m.Customer.LastName, "{0:yyyy-MM-dd}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @* Creating a dropdown takes an iterable type (list, IEnumerable). parameters for dropdown are (list, selected value, text value), default *@
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>

    <div class="form-group">
        @* Label can be set in class using [Display] *@
        @Html.LabelFor(m => m.Customer.Birthdate)
        @Html.TextBoxFor(m => m.Customer.Birthdate, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Birthdate)
    </div>

    <!-- checkbox is defined different due to the selected bootstrap css -->
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribe to newsletter?
        </label>
        @Html.ValidationMessageFor(m => m.Customer.IsSubscribedToNewsletter)
    </div>

    @Html.HiddenFor(m => m.Customer.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}